/*
Template based on Sanura by Chris Creed
*/


/*-------------*/
/* -- Tools -- */
/*-------------*/
.line { clear: both; background: url(images/line.png) no-repeat; height: 2px; }
.vertical-line { float: left; background: url(images/vertical-line.jpg) no-repeat; width: 2px; height: 115px; margin-left: 115px; margin-top: 38px; }
.grey { color: #999999; }
.cache-images { visibility: hidden; }

/*----------------------*/
/* -- General Styles -- */
/*----------------------*/
#wrap { padding-top: 80px; width: 960px; margin: 0 auto; }
body { background-color: #ffffff; background-image: url("images/subtle_dots.png"); color: #555555; line-height: 22px; font-family: 'Electrolize', sans-serif; font-weight: 400;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 40px; margin: 20px 0 15px 0; }
h2 { font-size: 26px; margin: 30px 0 15px 0; color: #333333; }
h3 { font-size: 22px; margin: 25px 0 15px 0; }
h4 { font-size: 18px; margin: 20px 0 10px 0; }
h5 { font-size: 16px; margin: 20px 0 5px 0; }
h6 { font-size: 14px; margin: 0 0 0 0; }
a:link, a:visited { color: #771100; text-decoration: none; }
a:hover, a:active { color: #555555; }
em { font-style: italic; }
p { margin: 0 0 15px 0; }
.page-title { margin: 0 0 28px 0; font-size: 34px; }

/*--------------*/
/* -- Header -- */
/*--------------*/
#header { margin: 0 0 0px -5px; width: 960px; height: 100px; }
#header h1 { font-family: 'Lobster', cursive; font-size: 64px; }


/*-----------------*/
/* -- Frontpage -- */
/*-----------------*/
#frontpage { float: left; width: 960px; margin: 48px 0 -8px -5px; }
#frontpage .featured-text { margin: 0 0 40px 0; }
#frontpage h3 { font-size: 32px; color: #444; margin: 50px 0 30px 0; letter-spacing: -1px; }
#frontpage #featured-projects { margin: 0 0 40px 0; }
#frontpage #featured-projects img { padding:5px; border:2px solid #e5e5e5; background-color:#ffffff;}

#frontpage #services { float: left; margin: 36px 32px 0 0; font-size: 12px; }
#frontpage #services h4 { font-size: 28px; color: #444; margin: 10px 0 35px 0; letter-spacing: -1px; }
#frontpage #services .service { clear: both; width: 430px; margin: 0 0 0 0; height: 80px; }
#frontpage #services .service img { height:50px; float: left; margin: 2px 0 0 2px; padding:5px; }
#frontpage #services .service p { margin: 2px 0 0 0; }

#frontpage #contact { float: left; margin: 36px 0 0 50px; font-size: 12px; }
#frontpage #contact h4 { font-size: 28px; color: #444; margin: 10px 0 35px 0; letter-spacing: -1px; }
#frontpage #contact .contact { font-size: 18px; clear: both; width: 430px; margin: 0 0 0 0; height: 90px; padding-bottom: 0px; }
#frontpage #contact .contact img { float: left; margin: 2px 0 0 2px; width: 56px; height: 56px; }
#frontpage #contact .contact a { font-size: 14px; margin: 0 0 0 0; }



/*--------------*/
/* -- Footer -- */
/*--------------*/
#footer { clear: both; padding: 45px 0 80px 0; color: #888888; }
#footer .copyright { float: left; padding-top: 10px; font-size: 14px; }




/*--------------*/
/* - Projects - */
/*--------------*/
.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
	margin:10px;
}
.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:4px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling below */
	background-color:black;
	font-size:12px;
	padding:0px;
	color:white;
	opacity:0.8; /* transparency */
	filter:alpha(opacity=80); /* IE transparency */
}
.description-content{
	padding:10px;
}






